<!DOCTYPE html>
<html lang="th">
  <head>
    <!-- Title -->
    <title >Wantravel</title>
    <!-- Favicon -->
    <link rel="icon" href="images/elephant.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://covid19.th-stat.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://covid19.th-stat.com/vendor/semantic_ui/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="https://covid19.th-stat.com/script/covid_19/style.css?v=8" rel="stylesheet">
    <script src="https://covid19.th-stat.com/vendor/jquery/jquery.min.js"></script>
    
       
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    
    
    <style>
      section.main-body {
        padding: 0;
        margin: auto;}

      #infected_network{
        height: 100%;}    
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Wantravel.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> เมนู
        </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">หน้าหลัก</a></li>
          <li class="nav-item"><a href="travel" class="nav-link">ท่องเที่ยว</a></li>
          <li class="nav-item active"><a href="covid" class="nav-link">Covid - 19</a></li>
          <li class="nav-item"><a href="contact" class="nav-link">ติดต่อ</a></li>
          <li class="nav-item cta"><a href="login" class="nav-link"><span>เข้าสู่ระบบ</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_6.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">หน้าหลัก</a></span> <span>Covid-19</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Covid-19</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="main-body" id="section-counter" style="background-image: url(images/bg_1.jpg);">
      <div class="block-in-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 pd-0">
              <div class="col-xs-12 col-sm-12 pd-0">
                <div class="block-st-all">
                  <div class="col-xs-12 col-sm-12">
                    <div class="card-default">
                      <p>ติดเชื้อสะสม</p>
                      <h1 id="Confirmed" style="line-height: inherit;">0</h1>
                      <span><p id="NewConfirmed">0</p></span>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <div class="card-default">
                      <p>หายแล้ว</p>
                      <h1 id="Recovered">0</h1>
                      <span><p id="NewRecovered">0</p></span>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <div class="card-default">
                      <p>รักษาอยู่ใน รพ.</p>
                      <h1 id="Hospitalized">0</h1>
                      <span><p id="NewHospitalized">0</p></span>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <div class="card-default">
                      <p>เสียชีวิต</p>
                      <h1 id="Deaths">0</h1>
                      <span><p id="NewDeaths">0</p></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 text-right">
                  <span><p id="UpdateDate">0</p></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="row">
        <div class="col-md-12 text-center">

          <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="row">
              <div class="col-md-12 text-center">
      
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <script>document.write(new Date().getFullYear());</script> Wantravel <i class="icon-heart" aria-hidden="true"></i>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
            </div>
          </div>
        </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>

    <script>
      $( document ).ready(function() {
          $.getJSON("https://covid19.th-stat.com/api/open/today", function(result){
          console.log(result)
          document.getElementById("Confirmed").innerHTML = JSON.stringify(result.Confirmed);
          document.getElementById("Recovered").innerHTML = JSON.stringify(result.Recovered);
          document.getElementById("Hospitalized").innerHTML = JSON.stringify(result.Hospitalized);
          document.getElementById("Deaths").innerHTML = JSON.stringify(result.Deaths);
          document.getElementById("NewConfirmed").innerHTML = "[+ "+JSON.stringify(result.NewConfirmed)+"]";
          document.getElementById("NewRecovered").innerHTML = "[+ "+JSON.stringify(result.NewRecovered)+"]";
          document.getElementById("NewHospitalized").innerHTML = "[ "+JSON.stringify(result.NewHospitalized)+"]";
          document.getElementById("NewDeaths").innerHTML = "[+ "+JSON.stringify(result.NewDeaths)+"]";
          document.getElementById("UpdateDate").innerHTML = "อัพเดตข้อมูลล่าสุด: "+JSON.stringify(result.UpdateDate).slice(1,-1);
        });
      });
      </script>
  </body>
</html>